@{
    ViewBag.Title = "Apps indicative earnings report";
    ViewBag.PageId = "apps-indicative-earnings-report";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Apps indicative earnings report</h1>
        <p>This report should help you:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>understand how much you can expect to be paid</li>
            <li>reconcile your internal forecasts</li>
        </ul>
        <p>It is only an estimate, based on the data you have entered into the Apprenticeship service.</p>
        <div class="govuk-inset-text">
            <p class="govuk-body">This report has moved from the Submit Learner Data platform.</p>
        </div>
    </div>
</div>