@{
    ViewData["Title"] = "Page not found";
    ViewBag.GaData.Vpv = "/error/404";
}

<h1 class="govuk-heading-xl">Page not found</h1>
<p class="govuk-body">The page you requested could not be found.</p>